@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #cdea67;
  height: 100vh;
}

nav {
  position: fixed;
  top: 2px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;
}

nav a, footer a {
  text-decoration: none;
  color: #0f0f0f;
  font-family: "Roboto", system-ui;
  padding: 0 1em;
}

.logo a {
  font-weight: 600;
}

.text-intro {
  position: fixed;
  top: 50px;
  width: 40%;
  font-size: 14px;
  text-wrap: wrap;
  font-family: "Roboto", system-ui;
  padding: 0 2.5em;
  color: #ff0000;

}

.links a:hover {
  color: #fff;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#svg {
  position: fixed;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 2;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container div:nth-child(2) {
  display: flex;
}

.text {
  text-decoration: none;
  font-family: "Roboto", system-ui;
  font-size: 120px;
  font-weight: bolder;
  line-height: 120px;
  overflow: hidden;
  text-transform: uppercase;
  height: 120px;
  color: #222222;
}

.text-name {
  text-decoration: none;
  font-family: "Roboto", system-ui;
  font-size: 50px;
  font-weight: bolder;
  line-height: 50px;
  text-transform: uppercase;
  height: 50px;
  color: #222222;
}

.hide {
  display: none;
}

.date-time {
  font-family: "Roboto", system-ui;
}

.bottom-links {
  position: fixed;
  bottom: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
}

.bottom-links a {
  text-decoration: none;
  color: #0f0f0f;
  font-family: "Roboto", system-ui;
  padding: 0 1em;
  text-align: center;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* padding: 0.5em; */
  border-top: 2px solid rgba(0, 0, 0, 0.25);
}

div {
  display: flex;
}

.location {
  display: block;
}

.text:hover .letter {
  transform: translateY(-100%);
}

.text .block:last-child {
  color: initial;
}

.text .letter {
  display: inline-block;
  transition: transform 0.6s cubic-bezier(0.76, 0, 0.024, 1);
}

.letter:nth-child(1) {
  transition-delay: 0s;
}

.letter:nth-child(2) {
  transition-delay: 0.03s;
}
.letter:nth-child(3) {
  transition-delay: 0.06s;
}
.letter:nth-child(4) {
  transition-delay: 0.09s;
}
.letter:nth-child(5) {
  transition-delay: 0.12s;
}
.letter:nth-child(6) {
  transition-delay: 0.15s;
}
.letter:nth-child(7) {
  transition-delay: 0.18s;
}
.letter:nth-child(8) {
  transition-delay: 0.21s;
}
.letter:nth-child(9) {
  transition-delay: 0.24s;
}
.letter:nth-child(10) {
  transition-delay: 0.27s;
}
.letter:nth-child(11) {
  transition-delay: 0.30s;
}
.letter:nth-child(12) {
  transition-delay: 0.33s;
}

@media only screen and (max-width:600px) {
  nav {
    width: 400px;
    padding: 1em;
  }

  .text-intro {
    min-width: 340px;
    padding: 1.5em;
  }

  /* .wrapper {
    height: 600px;
  } */

  .container {
    width: 90%;
    justify-content: center;
    align-items: flex-start;
  }
  .text {
    font-size: 35px;
    text-align: left;
    height: 90px;
    color: #222222;
  }
}
